@import "../../styles/variables.css";

.container {
  font-family: var(--font-family-grotesque);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #333;
}

.titleStrong {
  font-weight: 600;
  font-size: 2.3rem;
  margin: 0 0.6rem;
}

.sectionTitle {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #333;
}

.addDateSection {
  margin-bottom: 3rem;
  border: 2px dashed #ddd;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.8rem;
}

.addButton {
  padding: 1rem 3rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: black;
  color: white;
}

.manageDatesSection {
  margin-bottom: 5rem;
  border: 2px dashed #ddd;
  padding: 2.5rem 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.gridHeader {
  font-weight: bold;
  background-color: #f4f4f4;
  padding: 1rem;
  border: 1px solid #ddd;
}

.gridItem {
  padding: 1rem;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.green {
  color: green;
}

.red {
  color: red;
}

.toggleButton {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggleButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

.deleteButton {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: darkred;
}

.noDatesMessage {
  text-align: center;
  color: #666;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
  .grid {
    gap: 8px;
  }
  .gridItem {
    flex-direction: column;
  }
  .manageDatesSection {
    padding: 2.5rem 0.5rem;
  }
  .gridHeader {
    padding: 0.5rem;
  }

  .gridItem {
    padding: 0.5rem;
  }

  .toggleButton {
    padding: 0.3rem 0.5rem;
  }

  .deleteButton {
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
  }
}
