@import "../../styles/variables.css";

.container {
  font-family: var(--font-family-grotesque);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #333;
}
.titleStrong {
  font-weight: 600;
  font-size: 2.3rem;
  margin: 0 0.6rem;
}

.sectionTitle {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #333;
}

.uploadSection {
  margin-bottom: 3rem;
  border: 2px dashed #ddd;
  padding: 2.5rem 0;
}

.fileInput {
  display: block;
  margin: 1rem auto;
  transform: translateX(2rem);
}

.button {
  padding: 1rem 3rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: black;
  color: white;
}

.gallery {
  border: 2px dashed #ddd;
  padding: 2.5rem 1rem;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1.5rem;
}

.imageWrapper {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.deleteButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: darkred;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
  .gridItem {
    flex-direction: column;
  }
  .deleteButton {
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
  }
}
