.detailContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sliderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.closeButton {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.arrowButtonBack {
  position: fixed;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 40;
  transition: all 0.3s ease;
}

.arrowButtonForward {
  position: fixed;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 40;
  transition: all 0.3s ease;
}

.arrowUpMobile {
  display: none;
}

.arrowDownMobile {
  display: none;
}

.arrowButtonBack:hover,
.arrowButtonForward:hover {
  font-size: 2.7rem;
}

.disabled {
  opacity: 0;
}

.sliderContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  transition: transform 0.5s ease-in-out;
  /* box-shadow: var(--box-shadow); */
}

.placeholder {
  opacity: 0;
}

.sliderImageWrapper {
  position: absolute;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: rgba(255, 255, 255, 0.3);
}

.sliderImageWrapper:nth-child(1) {
  z-index: 10;
  transform: perspective(35em) rotateY(18deg) translateX(-270px) scale(0.5);
  filter: blur(0.7rem) brightness(0.4);
}

.sliderImageWrapper:nth-child(2) {
  z-index: 20;
  transform: perspective(35em) rotateY(18deg) translateX(-180px) scale(0.6);
  filter: blur(0.4rem) brightness(0.6);
}

.sliderImageWrapper:nth-child(3) {
  z-index: 30;
  box-shadow: var(--box-shadow);
}

.sliderImageWrapper:nth-child(4) {
  z-index: 20;
  transform: perspective(35em) rotateY(-18deg) translateX(180px) scale(0.6);
  filter: blur(0.4rem) brightness(0.6);
}

.sliderImageWrapper:nth-child(5) {
  z-index: 10;
  transform: perspective(35em) rotateY(-18deg) translateX(270px) scale(0.5);
  filter: blur(0.7rem) brightness(0.4);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .closeButton {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
  }

  .arrowButtonBack {
    display: none;
  }

  .arrowButtonForward {
    display: none;
  }

  .arrowUpMobile {
    position: fixed;
    left: 50%;
    top: 3rem;
    transform: translateX(-50%);
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 40;
    transition: all 0.3s ease;
    display: block;
  }

  .arrowDownMobile {
    position: fixed;
    left: 50%;
    bottom: 3rem;
    transform: translateX(-50%);
    border: none;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 40;
    transition: all 0.3s ease;
    display: block;
  }

  .sliderContainer {
    width: 85vw;
    height: 100vh;
  }

  .sliderImageWrapper {
    width: 100%;
    height: auto;
  }

  .sliderImageWrapper:nth-child(1) {
    transform: perspective(35em) rotateX(-18deg) translateY(-200px) scale(0.5);
    filter: blur(0.7rem) brightness(0.4);
  }

  .sliderImageWrapper:nth-child(2) {
    transform: perspective(35em) rotateX(-18deg) translateY(-120px) scale(0.7);
    filter: blur(0.3rem) brightness(0.7);
  }

  .sliderImageWrapper:nth-child(4) {
    transform: perspective(35em) rotateX(18deg) translateY(120px) scale(0.7);
    filter: blur(0.3rem) brightness(0.7);
  }

  .sliderImageWrapper:nth-child(5) {
    transform: perspective(35em) rotateX(18deg) translateY(200px) scale(0.5);
    filter: blur(0.7rem) brightness(0.4);
  }
}
