@import "../../styles/variables.css";

.navbar {
  color: #000;
  position: fixed;
  top: 0;
  right: 0;
  font-family: var(--font-family-grotesque);
  z-index: 10;
  margin: 2rem 1.5rem;
}

.navLinks {
  list-style: none;
  margin: 0;
  width: 25vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
  padding: 0 0.8rem;
  transition: all 0.2s ease;
}

.navItem {
  text-decoration: none;
  color: var(--secondary-font-color);
  font-size: 1rem;
  transition: all 0.2s ease;
}
.navItem.active {
  font-weight: bold;
  color: var(--heightlight-font-color);
}

.navLinks.isActive {
  flex-direction: column;
  align-items: flex-end;
  width: 3rem;
}

.navLinks.isActive .navItem {
  display: block;
  padding-bottom: 1rem;
  color: black;
}

.disabled {
  pointer-events: none; /* Disables clicks */
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .navbar {
    margin: 1.5rem 1.5rem;
  }

  .navLinks {
    width: 60vw;
    padding: 0;
    font-size: 0.9rem;
    border-radius: 1.3rem;
  }

  .navLinks.isActive {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    width: 3rem;
    padding: 0 0 0 0.7rem;
    font-size: 0.9rem;
    border-radius: 1.3rem;
  }

  .navLinks .navItem {
    display: block;
    padding-bottom: 0.2rem;
  }
}
