@import "../../styles/variables.css";

@font-face {
  font-family: "refra";
  src: url("/fonts/Refra.ttf") format("ttf");
}

.navbar {
  color: #000;
  position: fixed;
  top: 0;
  right: 0;
  /* font-family: var(--font-family-refra); */
  font-family: "refra" !important;
  z-index: 10;
  margin: 2.5rem 2rem;
}

.navLinks {
  list-style: none;
  margin: 0;
  width: 30vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  padding: 0 1.2rem;
  transition: all 0.2s ease;
}

.navItem {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.navItem:hover {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
  color: white;
}

.navItem.active {
  text-decoration: underline;
  color: #000;
}

.navLinks.isActive {
  flex-direction: column;
  align-items: flex-end;
  width: 3rem;
  /* transition: all 1s; */
}

.navLinks.isActive .navItem {
  display: block;
  padding-bottom: 1rem;
  /* transition: all 1s; */
}

@media (max-width: 768px) {
  .navbar {
    margin: 1.5rem 1rem;
  }

  .navLinks {
    width: 70vw;
    padding: 1rem 0.7rem 0 0.7rem;
    font-size: 0.9rem;
    border-radius: 1.3rem;
  }

  .navLinks.isActive {
    width: 100%;
    /* padding: 0.7rem; */
    flex-direction: column;
    align-items: flex-end;
    width: 3rem;
    padding: 1rem 0.7rem 0 0.7rem;
    font-size: 0.9rem;
    border-radius: 1.3rem;
  }

  .navLinks .navItem {
    display: block;
    padding-bottom: 1rem;
  }
}
