@import "../../styles/variables.css";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.1);
}

.contentContainer {
  width: 92%;
  height: 92%;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  overflow: auto;
}

.closeButton {
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}
